:root {
    --oscuro-primario:   #0D141C;
    --oscuro-secundario: #172c40;
    --oscuro-terciario:  #2a3e4d;
    --claro-primario:    #445460;
    --claro-secundario:  #929DA1;
    --claro-terciario:   #CCD0CF;
    --acentuar:          #ABC5ff;
}

* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Arial';
}

header {
    color: var(--claro-terciario);
}

header a {
    transition: 0.8s;
}

header a:hover {
    color: var(--acentuar);
}

h1 {
    font-weight: 800;
    color: var(--claro-terciario);
}

a {
    color: inherit;
    text-decoration: none;
}

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    background: rgba(255,255,255,0);
    z-index: 1000;
}

.h1-accent {
    color: var(--acentuar);
}

.hero-section {
    min-height: 80vh;
    background: radial-gradient(circle at center, var(--oscuro-secundario), var(--oscuro-primario));;
    color: var(--claro-terciario);
}

.hero-section .l-col p {
    width: 80%;
}

@media (max-width: 767px) {
    .site-header {
        padding: 1rem 0;
    }
}