:root {
    --oscuro-primario:   #0D141C;
    --oscuro-secundario: #172c40;
    --oscuro-terciario:  #2a3e4d;
    --claro-primario:    #445460;
    --claro-secundario:  #929DA1;
    --claro-terciario:   #CCD0CF;
    --acentuar:          #ABC5ff;
}

* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Arial';
}

header {
    color: var(--claro-terciario);
}

header a {
    transition: 0.8s;
}

header a:hover {
    color: var(--acentuar);
}

h1 {
    font-size: 45px;
    font-weight: 800;
    color: var(--claro-terciario);
}

h2 {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--oscuro-secundario);
}

h3 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--claro-primario);
}

a {
    color: inherit;
    text-decoration: none;
}

article {
    text-align: justify;
}

section {
    text-align: justify;
    color: white;
}

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    background: rgba(255,255,255,0);
    z-index: 1000;
}

.h1-accent {
    color: var(--acentuar);
}

.hero-section {
    min-height: 80vh;
    background: radial-gradient(circle at center, var(--oscuro-secundario), var(--oscuro-primario));;
    color: var(--claro-terciario);
}

.hero-section .l-col p {
    width: 80%;
}

/* .blog-section {
    background-color: var(--oscuro-secundario);
} */

.container {
    max-width: 1100px;
    width: 100%;
    font-size: 14px;
    padding: 3rem 1rem;
}

.row-introduction {
    background-color: var(--claro-terciario);
}

.element-card {
    background-color: var(--oscuro-secundario);
    padding: 0.8rem 1rem;
    border-radius: 10px;
    color: var(--claro-terciario);
    margin-bottom: 10px;
}

.language-cards i {
    color: white;
}

.card-item i {
    transition: 0.8s;
}

.card-item i:hover {
    color: var(--claro-terciario);
}

.element-card h3 {
    color: white;
}

.html-section {
    background-color: #ffe8de;
}

.css-section {
    background-color: #d9e4ff;
}

.custom-width {
    width: 75%;
}

.wdn-card {
    background-color: #0e0f0f;
    transition: 0.5s;
}

.wdn-card:hover {
    background-color: #424242;
}

.w3s-card {
    background-color: #009967;
    transition: 0.5s;
}

.w3s-card:hover {
    background-color: #46cb9e;
}

.fcc-card {
    background-color: #090921;
    transition: 0.5s;
}

.fcc-card:hover {
    background-color: #2b2b75;
    transition: 0.5s;
}

.about-us-section {
    background-color: var(--oscuro-secundario);
    color: white;
}

.about-us-section h2 {
    color: white;
}

@media (max-width: 767px) {
    .site-header {
        padding: 1rem 0;
    }

    .hero-section {
        padding: 13rem 0 3rem 0;
    }

    .container-blog {
        width: 100%;
    }

    .custom-width {
        width: 50% !important;
    }
}